.container-expense {
  .title {
    margin-bottom: 40px;
  }

  .expense {
    .item-block {

      .button-expense {
        margin-top: auto; // кнопки всегда прижаты к низу блока
        display: flex;
        gap: 8px;

        .btn {
          font-size: 14px;
          line-height: 16px;
          color: #FFFFFF;
          padding: 11px 16px;
        }
      }
    }

    .item-block-add {
      border: 1px solid #CED4DA;
      border-radius: 10px;
      width: 352px;
      min-height: 125px;

      a {
        font-size: 28px;
        color: #CED4DA;
        width: 100%;
        height: 100%;
      }
    }
  }
}