.container-expense-add {
  .expense-add {
    margin-bottom: 20px;

    input {
      max-width: 397px;
      font-family: 'Roboto Regular', sans-serif;
      font-size: 14px;
      color: #052c65;

      &::placeholder {
        font-family: 'Roboto Regular', sans-serif;
        font-size: 15px;
        color: #6C757D;
      }
    }

    .error-expense-add {
      font-family: 'Roboto Regular', sans-serif;
      font-size: 12px;
    }
  }

  .btn {
    font-size: 14px;
    color: #FFFFFF;
  }

  /* 🔵 Удаление голубого фона, добавляемой браузером по умолчанию при автозаполнении */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px #fff inset !important;
    box-shadow: 0 0 0 1000px #fff inset !important;
    -webkit-text-fill-color: #052C65 !important;
    transition: background-color 9999s ease-in-out 0s;
  }

  /* 🔵 Удаление голубой рамки при фокусе, добавляемой браузером по умолчанию */
  input:focus {
    outline: none !important; // убираем стандартный outline
    box-shadow: none !important; // убираем синее свечение вокруг инпута
    border-color: #ced4da !important; // устанавливаем серую рамку Bootstrap при ФОКУСЕ
  }
}