.container-home {

  h2 {
    margin-bottom: 20px;
  }

  .interval-home {
    font-family: 'Roboto Regular', sans-serif;
    font-size: 12px;
  }

  .charts-container {
    display: grid;
    flex-wrap: wrap; /* позволяет переносить блоки на следующую строку */
    margin-right: 100px;
    margin-bottom: 100px;

    .chart-wrapper {
      max-width: 550px;
      aspect-ratio: 1;
      width: 100%;

      .no-data {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .divider {
        width: 1px;
        height: 100%;
        background-color: #D9D9D9;
      }
    }
  }
}
