.container-income-add {
  .income-add {
    margin-bottom: 20px;

    input {
      max-width: 397px;

      &::placeholder {
        font-family: 'Roboto Regular', sans-serif;
        font-size: 15px;
        color: #6C757D;
      }
    }
  }

  .btn {
    font-size: 14px;
    color: #FFFFFF;
  }
}