.sidebar {
  background: #ffffff;
  border-right: 1px solid #D9D9D9;
  width: 219px;
  margin-right: 60px;
  position: sticky;
  top: 0;
  height: 100vh;
  overflow: hidden;

  .nav-link {
    border-radius: 0.5rem;
    transition: background-color .15s ease, color .15s ease;

    &:hover {
      background-color: #0d6efd !important;
      color: #ffffff !important;

      i {
        color: #ffffff !important;
      }
    }

    &.active {
      background-color: #0d6efd !important;
      color: #ffffff !important;

      i {
        color: #ffffff !important;
      }
    }
  }

  .logo-sidebar {
    margin-top: 40px;
    padding-bottom: 27px;
  }

  .nav {
    padding-top: 60px;
  }

  ul.nav {
    li {
      a.nav-link {
        font-family: 'Roboto Regular', sans-serif;
        font-size: 14px;
        color: #052C65;
        display: flex;
        align-items: center;

        i {
          color: #052C65;
        }
      }
    }
  }

  .nav-item {
    .categories-wrapper {
      border-radius: 0.5rem;
      overflow: hidden;
      border: none;
      box-sizing: border-box;

      &.active-block {
        outline: 1px solid #0d6efd;
        outline-offset: -1px;

        #categories-toggle {
          background-color: #0d6efd;
          color: #ffffff;

          i {
            color: #ffffff;
          }
        }

      }

      #categories-toggle {
        padding: 0.5rem 1rem;
        display: flex;
        align-items: center;

        i {
          transition: transform .2s ease, color .15s ease;
          color: inherit;
        }

        &:hover {
          background-color: #0d6efd;
          color: #ffffff;

          i {
            color: #ffffff;
          }
        }

        &.active {
          background-color: #0d6efd;
          color: #ffffff;

          i {
            color: #ffffff;
          }
        }
      }

      .categories-sub {
        display: flex;
        flex-direction: column;

        &.d-none {
          display: none !important;
        }

        a.nav-link {
          border-radius: 0;
          padding: 0.5rem 1rem;

          &:hover {
            background-color: #0d6efd;
            color: #ffffff;
          }

          &.active {
            background-color: #0d6efd;
            color: #ffffff;
          }
        }
      }
    }
  }

  .balance {
    font-size: 14px;
    color: #052C65;
  }

  .profile {
    position: relative;
    z-index: 1;

    a {
      span {
        font-family: 'Roboto Regular', sans-serif;
        font-size: 14px;
        line-height: 18px;
        color: #052C65;
      }
    }

    .profile-menu {
      position: absolute;
      top: 42px;
      left: 55px;
      padding: 7px 12px;
      width: 150px;
      z-index: 2;

      a {
        font-family: 'Roboto Regular', sans-serif;
        font-size: 14px;
        color: #0d6efd;
      }
    }
  }
}

.content-layout {
  margin-top: 100px;
  padding-right: 60px;
}
