.login-form {
  .error-login-second {
    font-family: 'Roboto Regular', sans-serif;
    font-size: 12px;
  }

  .error-login {
    padding-left: 55px;
    font-family: 'Roboto Regular', sans-serif;
    font-size: 12px;
  }

  .form-check {
    .form-check-label {
      font-family: 'Roboto Regular', sans-serif;
      font-size: 12px;
      color: #000000;
    }
  }
}