@use "layout";
@use "login";
@use "sign-up";
@use "home";
@use "income";
@use "expense";
@use "income-expenses";
@use "income-add";
@use "income-edit";
@use "expense-add";
@use "expense-edit";
@use "income-expenses-add";
@use "income-expenses-edit";

@font-face {
  font-family: 'Roboto Medium';
  src: url('../static/fonts/Roboto-Medium.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'Roboto Regular';
  src: url('../static/fonts/Roboto-Regular.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'Roboto Bold';
  src: url('../static/fonts/Roboto-Bold.ttf') format('truetype');
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto Medium', sans-serif;
  color: #052C65;
}

.error404 {
  font-family: 'Roboto Regular', sans-serif;
  font-size: 18px;
}

h1 {
  font-size: 40px;
  color: #052C65;
  margin-bottom: 40px;
}

h2 {
  font-size: 28px;
  color: #290661;
}

.button-gray {
  margin-bottom: 40px;

  .btn {
    width: 100px;
    color: #6c757d;
    background-color: transparent;
    border: 1px solid #6c757d;

    &:hover,
    &:focus {
      color: #ffffff;
      background-color: #6c757d;
      border-color: #6c757d;
    }

    &.active {
      background: #6c757d;
      color: #ffffff;
      border-color: #6c757d;
    }
  }

  .interval {
    span {
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.457143px;
      color: #000000;
    }
  }
}

.modal {
  position: fixed;      // фиксированная позиция на весь экран
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;        // поверх всего
  display: none;

  .modal-dialog {
    max-width: 530px;
    margin: 0;           // убираем отступы
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);     // по центру экрана

    .modal-content {
      background: #FFFFFF;
      padding: 40px;

      .confirmation {
        font-size: 20px;
        line-height: 23px;
        color: #290661;
      }

      .btn-popup {
        font-size: 14px;
        color: #FFFFFF;
        padding: 11px 16px;
      }
    }
  }
}

.item-block {
  border: 1px solid #CED4DA;
  border-radius: 10px;
  width: 352px;
  min-height: 125px;              // чтобы маленькие блоки не сжимались
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .title-block {
    font-size: 28px;
    line-height: 31px;
    margin-bottom: 15px;
    word-break: break-word;       // перенос слов, если слишком длинные
  }
}