<div class="d-flex flex-column justify-content-center align-items-center min-vh-100 text-center bg-light">
    <h1 class="display-1 fw-medium text-primary mb-4" style="font-size: 7rem">404</h1>
    <p class="fs-2 d-flex justify-content-center align-items-center mb-2">
        Мы не нашли страницу, которую вы искали
        <i class="bi bi-emoji-dizzy ps-3 text-primary fs-2"></i>
    </p>
    <p class="error404 mb-4">
        Перейти на <a class="text-decoration-none" href="/">главную страницу</a>
    </p>
</div>