<div class="container-income d-flex flex-column ps-0">

    <h1 class="title">Доходы</h1>

    <div class="income income-expenses-block d-flex flex-wrap gap-3">

<!--        <div class="item-block py-3 px-4">-->
<!--            <h2 class="title-block">Депозиты</h2>-->
<!--            <div class="button-income d-flex gap-2">-->
<!--                <a href="/income-edit" type="button" class="btn btn-primary">Редактировать</a>-->
<!--                <a href="javascript:void(0)" type="button" class="btn btn-danger">Удалить</a>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="item-block py-3 px-4">-->
<!--            <h2 class="title-block">Зарплата</h2>-->
<!--            <div class="button-income d-flex gap-2">-->
<!--                <a href="/income-edit" type="button" class="btn btn-primary">Редактировать</a>-->
<!--                <a href="javascript:void(0)" type="button" class="btn btn-danger">Удалить</a>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="item-block py-3 px-4">-->
<!--            <h2 class="title-block">Сбережения</h2>-->
<!--            <div class="button-income d-flex gap-2">-->
<!--                <a href="/income-edit" type="button" class="btn btn-primary">Редактировать</a>-->
<!--                <a href="javascript:void(0)" type="button" class="btn btn-danger">Удалить</a>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="item-block py-3 px-4">-->
<!--            <h2 class="title-block">Инвестиции</h2>-->
<!--            <div class="button-income d-flex gap-2">-->
<!--                <a href="/income-edit" type="button" class="btn btn-primary">Редактировать</a>-->
<!--                <a href="javascript:void(0)" type="button" class="btn btn-danger">Удалить</a>-->
<!--            </div>-->
<!--        </div>-->

        <div class="item-block-add d-flex justify-content-center align-items-center">
            <a href="/income-add" class="d-flex justify-content-center align-items-center text-decoration-none">
                +
            </a>
        </div>

    </div>

    <div class="modal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content text-center">
                <p class="confirmation mb-4">Вы действительно хотите удалить категорию? Связанные доходы останутся без категории</p>
                <div class="d-flex justify-content-center gap-3">
                    <button type="button" class="btn-popup btn btn-success">Да, удалить</button>
                    <button type="button" class="btn-popup btn btn-danger">Не удалять</button>
                </div>
            </div>
        </div>
    </div>

</div>