<div class="container-income-expenses d-flex flex-column ps-0">

    <h1 class="mb-5">Доходы и расходы</h1>

    <div class="button-color d-flex gap-2">
        <a href="/income-expenses-add" class="btn btn-success py-2 px-3">Создать доход</a>
        <a href="/income-expenses-add" class="btn btn-danger py-2 px-3">Создать расход</a>
    </div>

    <div class="button-gray d-flex align-items-center gap-3 flex-wrap">
        <button type="button" class="btn btn-outline-secondary text-center py-2 px-2 active">Сегодня</button>
        <button type="button" class="btn btn-outline-secondary text-center py-2 px-2">Неделя</button>
        <button type="button" class="btn btn-outline-secondary text-center py-2 px-2">Месяц</button>
        <button type="button" class="btn btn-outline-secondary text-center py-2 px-2">Год</button>
        <button type="button" class="btn btn-outline-secondary text-center py-2 px-2">Все</button>
        <button type="button" class="btn btn-outline-secondary text-center py-2 px-2">Интервал</button>
        <div class="interval d-flex align-items-center gap-2 ms-3">
            <label for="date-from" class="mb-0">с</label>
            <input id="date-from" type="date" class="date-input form-control form-control-sm"/>
            <label for="date-to" class="mb-0">по</label>
            <input id="date-to" type="date" class="date-input form-control form-control-sm"/>
        </div>
        <div class="interval-warning text-danger interval-income-expenses" style="display: none;">
            Выберите нужный интервал
        </div>
    </div>


    <div class="d-flex table-responsive">
        <table class="table table-bordered table-income-expenses align-middle text-center">
        <thead class="">
            <tr>
                <th style="width: 10%">№ операции</th>
                <th style="width: 13%">Тип</th>
                <th style="width: 13%">Категории</th>
                <th style="width: 13%">Сумма</th>
                <th style="width: 13%">Дата</th>
                <th style="width: 33%">Комментарии</th>
                <th style="width: 5%"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>Доход</td>
                <td>Зарплата</td>
                <td>500$</td>
                <td>11.09.2022</td>
                <td></td>
                <td>
                    <a href="javascript:void(0)" class="btn btn-sm border-0 ms-1"><i class="bi bi-trash"></i></a>
                    <a href="/income-expenses-edit" class="btn btn-sm border-0 ms-1"><i class="bi bi-pencil"></i></a>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>Расход</td>
                <td>Жилье</td>
                <td>2500$</td>
                <td>12.09.2022</td>
                <td></td>
                <td>
                    <a href="javascript:void(0)" class="btn btn-sm border-0 ms-1"><i class="bi bi-trash"></i></a>
                    <a href="/income-expenses-edit" class="btn btn-sm border-0 ms-1"><i class="bi bi-pencil"></i></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="modal" id="" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content text-center">
                <p class="confirmation mb-4">Вы действительно хотите удалить операцию?</p>
                <div class="d-flex justify-content-center gap-3">
                    <a href="javascript:void(0)" class="btn-popup btn btn-success">Да, удалить</a>
                    <a href="javascript:void(0)" class="btn-popup btn btn-danger">Не удалять</a>
                </div>
            </div>
        </div>
    </div>

</div>
